fastapi
requests
uvicorn
insightface==0.7.3
diffusers==0.27.2
transformers==4.39.3
accelerate==0.28.0
safetensors==0.4.2
einops==0.7.0
onnxruntime-gpu==1.17.1
spaces==0.19.4
opencv-python==4.9.0.80
git+https://github.com/tencent-ailab/IP-Adapter.git@5a18b1f3660acaf8bee8250692d6fb3548a19b14